# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# Hugging Face / Model Cache
.cache/

# Environment & Secrets
.env
*.env
.env.*
!.env.example



